<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530530213788-q3f1rvhasb6h8lfr952b4q0i2getturl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530530213788-q3f1rvhasb6h8lfr952b4q0i2getturl</string>
	<key>API_KEY</key>
	<string>AIzaSyDK_e84EZg0DuG3lItKlQldPZFmpvme34o</string>
	<key>GCM_SENDER_ID</key>
	<string>530530213788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainmri.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>brain-mri-2202</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-mri-2202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530530213788:ios:986e20049183b87592f259</string>
</dict>
</plist>